.add_comment form {
  margin-bottom: 0px;
}
.add_comment .panel-footer {
  text-align: right;
}
p.user-comment {
  color:#520063;
}
p.user-comment:before {
  content: '\2014 \00A0';
}
blockquote.user-comment {
  border-left: 5px solid #dfc2e1;
}

.stream .item {
  border-bottom: 2px dotted #ddd;
  padding: 10px 0px 30px 60px;
}
.stream .item .stream-icon {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  margin-left: -25px;
  margin-bottom: -40px;
  position: relative;
  top: 15px;
  right: 20px;
  float: left;
}

/*stream*/
.dark-blue i {
  color: #1171a3; 
}

.purple i {
  color: #932ab6; 
}

.orange i {
  color: #f88529; 
}

.stream .item .stream-icon i {
  line-height: 40px;
  font-size:25px;
}

.stream .item h4 {
  margin-bottom: 6px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.stream .item p {
  color: #777;
}
.stream .item p.date {
  padding: 0;
  float: right;
  margin-top: 10px;
}

/* list-items */
.list-item {
  margin: 0 0 20px;
  cursor: hand;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  background-color: #C6E9E7;
  color:#57585A;
}

.list-item p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}