.text-prog-gray {
  color: #6d6e71;
}
.text-prog-purple {
  color: #520063;
}
.text-prog-pink {
  color: #ae0060;
}
.text-prog-green {
  color: #8ed400;
}
.text-prog-blue {
  color: #00b1c0;
}
.text-prof-gray {
  color: #6d6e71;
}
.text-prof-purple {
  color: #331d54;
}
.text-prof-pink {
  color: #810262;
}
.text-prof-green {
  color: #55a51a;
}
.text-prof-blue {
  color: #0082bf;
}
.text-hcc-blue {
  color:#9bd4f2;
}